{% ckan_extends %}

{% block primary_content %}
<div role="main">
  <div class="hero">
    <div class="container">
      <h1 class="page-heading">{{ _("Welcome to") }} <span>{{ g.site_title }}</span></h1>
      <p>
        {% trans %}This is the official data repository for Edo State Government. It provides an easy way to find, access and reuse public datasets from the State Government, international organizations and non-state actors.
        {% endtrans %}
      </p>
    
      {% set groups=h.get_featured_groups(count=6) %}
      <ul class="groups">
      {% for group in groups %}
        {% set type = group.type or 'group' %}
        {% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
        <li>
          <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}">
            {{ group.display_name }}
          </a>
        </li>
      {% endfor %}
      
      {% set stats = h.get_site_statistics() %}
      {% if stats.group_count > 6 %}
      <li class="more"><a title="{{ stats.group_count - 6 }} more" href="group"><i class="icon-plus-sign"></i><br>More</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="intro">
      <p>{% trans %}We hope this data will become a platform for improving transparency, catalyzing innovation, and enabling social and economic development. We encourage all users to leverage the information in this portal to develop tools and applications which benefit all Edo State citizens.{% endtrans %}</p>
    </div>
    
    <div class="latest row">
      <div class="datasets span6">
        <h2>Recently Updated Datasets</h2>
        {% snippet 'home/snippets/recently_updated_datasets.html' %}
      </div>
      
      <div class="blogposts span6">
        <h2>Latest Blog Posts</h2>
          {%- set featured_feed = h.widgets_get_featured_feed() -%}
          {% if featured_feed %}
            {% snippet 'widgets/snippets/feed_definition_list.html', feed_url=featured_feed %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
<section class="twitter">
  <div class="container">
    <h3>From Twitter</h3>
    <a class="follow" href="https://twitter.com/opendataedo">Follow us on Twitter</a>
    <div id="tweets" class="carousel"></div>
  </div>
</section>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="comments">
  <div class="container">
    <h3>Say Something About Us on Facebook</h3>
    <div class="fb-comments" data-href="http://data.edostate.gov.ng/" data-width="926" data-numposts="5" data-colorscheme="light"></div>
  </div>
</section>

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'ckanext-edo/js/home.js' %}
  
{% endblock %}
