{% ckan_extends %}

{% block primary_content %}
<div role="main">
  <div class="hero">
    <div class="container">
      <h1 class="page-heading">{{ _("Welcome to") }} <span>{{ g.site_title }}</span></h1>
      <p>
        {% trans %}This is the official data repository for Edo State Government. It provides an easy way to find, access and reuse public datasets from the State Government, international organizations and non-state actors.
        {% endtrans %}
      </p>
    
      {% set groups=h.get_featured_groups(count=6) %}
      <ul class="groups">
      {% for group in groups %}
        {% set type = group.type or 'group' %}
        {% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
        <li>
          <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}">
            {{ group.display_name }}
          </a>
        </li>
      {% endfor %}
      
      {% set stats = h.get_site_statistics() %}
      {% if stats.group_count > 6 %}
      <li class="more"><a title="{{ stats.group_count - 6 }} more" href="group"><i class="icon-plus-sign"></i><br>More</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}