{% extends "page.html" %}

{% block subtitle %}{{ _('Code of Conduct') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Code of Conduct'), controller='ckanext.edo.plugin:EdoController', action='coc' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
      <h1>Code of Conduct</h1>
      <p>The data provided is for the general public based on public sector datasets.
      Developers and Users are free to utilize these data in developing applications
      and use as they wish but not without these basic rules.</p>

      <p>You are recommended to:</p>
      <ul>
        <li>Use the provided live sources for the datasets as your primary data
        source, most of the data provided is dynamic. Basing your application
        on the keys in the data we are providing will ensure that your
        application is as up to date as possible.</li>
        <li>Where you cannot use our live sources as the primary data source, please
        still use the keys contained within the data as the primary or foreign keys
        within your application, as this will enable you to migrate as simply as
        possible to up-to-date data and information when it is made available.</li>
        <li>Please refresh the data within your application in a timely manner
        when a new set of the data is made available.</li>
        <li>Engage with us when something is wrong – point out any
        inconsistency in the data you find, make suggestions about how to
        improve the service, request new data sources to be added, and tell us
        about what you have built so we can help you promote it!</li>
      </ul>

      <p>You Should:</p>
      <ul>
        <li>Refer back to and cite the origin or source of the data when using
        it;</li>
        <li>Clearly state where possible, about which data is derived from
        official sources, which is from other sources, and which data is from
        any calculation within or out with your app.</li>
      </ul>

      <p>You Must Not:</p>
      <ul>
        <li>Present the data in a misleading or incorrect manner or to
        misrepresent or change the data.</li>
        <li>Use this site for party political purposes, as the site paid for
        with public money so it is not appropriate to engage in party-political
        activity here.</li>
        <li>Develop an application that pretends to be an official government
        service or “App”.</li>
        <li>Use these materials on an application to inflame or make comments
        that are racist, homophobic, incite violence or illegal activity.</li>
        <li>Use these materials in or to support a criminal or illicit
        activity</li>
      </ul>
      <h2>Participation Guidelines</h2>
      <p>When posting comments about ideas, applications, or posting to the site forum, please observe our site
      participation guidelines:</p>
      <ul>
        <li>Stay on topic and do not upload content that is unrelated to the
        purpose of this site.</li>
        <li>Do not use language that is offensive, inflammatory or provocative
        (this includes swearing and abhorrent or vulgar comments).</li>
        <li>Do not post in a language other than English.</li>
        <li>Be respectful of other users of this site.</li>
        <li>Do not choose a user name that is offensive, inflammatory or
        provocative.</li>
        <li>Do not infringe on the law (this includes condoning illegal
        activities and contempt of court).</li>
        <li>In the course of using the social section of this site, please do
        not post personal information – addresses, phone numbers, email
        addresses or other online contact details – relating either to you or
        other individuals.</li>
        <li>Do not register more than one user account per person.</li>
        <li>Do not impersonate or falsely claim to represent a person or an
        Organization. Do not attempt to log on using another user’s
        account.</li>
        <li>Do not make any commercial endorsement or promotion of any product,
        service or publication not relevant to the discussion.</li>
      </ul>
      <p>If you are aged 17 or under, please get your parent’s/guardian’s
      permission before participating. Users without this consent are not
      allowed to participate or provide us with personal information.</p>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
