<p>In our increasingly uncertain fiscal and economic climate, government
leaders are tasked to make smarter and better choices to deliver results,
promote improved standards of living, social progress, public safety, economic
health and new growth. To address this situation, the Edo State government
adopted the Open Government Initiative (OGI). This is a marked departure from
the age-long culture of government secrecy.</p>

<p>Based on the “openness” principles such as accessibility, transparency,
collaboration and participation, the vision for the Edo State Open Government
Program was created to:</p>
<ol type='a'>
  <li> be the first sub-national government to implement OGI and to have the
  most open government and economy in Nigeria;</li>
  <li>embrace technology to improve lives and government effectiveness, while
  promoting innovation in all sectors;</li>
  <li>empower citizens to create value using open data and enable citizens to
  collaboratively contribute to public sector innovation; and</li>
  <li>ensure the needs of citizens, not government, shape the State’s public
  investments and public services.</li>
</ol>

<h2>The data.edostate.gov.ng portal</h2>
<p>The data.edostate.gov.ng is the official portal for the release of
government data to the public. The Edo State government is making official data
public for citizens to use as raw material in ways that are important to them:
to innovate; create new economic opportunities; and meaningfully engage with
government. As we continue on this journey, we expect to move towards sharing
information (and related data) relevant to our citizens and the services that
impact them.</p>

<h2>What is available?</h2>
<p>There are data covering diverse topics and interests; from budget and budget
performance to infrastructure layout, disease surveillance to schools
distribution, maps of communities, public transportation and waste dumps.
Mostly raw and machine readable, it is hoped that users would use and reuse the
data to produce information and build useful applications that help society, or
investigate how effective policy changes have been over time.</p>

<h2>Getting involved</h2>
<p>This paradigm shift in public administration will enable new of engagement
between citizens, organizations and the Edo State government. There are
a number of ways of getting involved in the program, dependent on your
background or interest:</p>

<h3>Data Analyst</h3>
<p>You can help uncover new insights by
analyzing the data portal’s collection of inter-related datasets. Your analysis
could show trends and highlight issues hitherto undiscovered.</p>

<h3>Infographics Designer</h3>
<p>An emerging profession that helps in making data come to life. Have you
found a great way of displaying our data?  Does it combine with other data to
give a new insight? Share your efforts with us and it could be highlighted on
the data blog.</p>

<h3>Apps Developers</h3>
<p>As an app developer, you have free access to government data to use in
building innovative apps that could be useful to many. Free yourself and let
your imagination run wide.</p>

<h3>Share Ideas</h3>
<p>If you can see the invisible, we can together do the impossible. Let us know
any ideas you have about how the data could be used in an app or in improving
the delivery of a public service. You can contribute via our <a
  href="//datablog.edostate.gov.ng">blog</a>, <a
  href="https://twitter.com/search?q=%23edopendata">Twitter (#edopendata)</a>
or simply email to <a
  href="mailto:opendata@edostate.gov.ng">opendata@edostate.gov.ng</a>.

<h3>Architecture</h3>
<p>As we do not claim to have monopoly of knowledge, we constantly look for
ways to make the portal better and we depend on you. Please get in touch!

<h2>Partners</h2>
<h3>Edo State ICT Agency</h3>

<h3>The World Bank</h3>
<p>Through a range of activities, the Bank is offering technical assistance to
support and complement Edo State government’s efforts to promote citizen
engagement and participation, improve access to information, institutionalize
government-citizen dialogue and encourage citizen oversight in public
investments. The Open Government program is one of such activities.</p>

<p>The Bank is leading the effort toward openness and transparency in
development by offering a wealth of tools and knowledge to provide people with
the resources they need to help solve the world's development challenges. In
2010, the Bank launched a new Open Data website, providing free access to
a comprehensive set of data about development in countries around the
globe.</p>

<h3>The Comprehensive Knowledge Archive Network (CKAN)</h3>
<p>CKAN stores the catalogue behind data.edostate.gov.ng and a growing number
of open data registries around the world. It is a project created by the Open
Knowledge Foundation (OKF) to make it easy to find, share and reuse open
content and data. The CKAN software provides its own web interface,
programmer's API, feeds notifying of changes, and a browse-able history of all
changes.  The API is available at: catalogue.data.edostate.gov.ng</p>
