{% ckan_extends %}
{% block footer_links %}
  {{ super() }}
  <li>{% link_for _('Privacy Statement'), controller='ckanext.edo.plugin:EdoController', action='privacy' %}</li>
  <li>{% link_for _('Accessibility'), controller='ckanext.edo.plugin:EdoController', action='accessibility' %}</li>
  <li>{% link_for _('Code of Conduct'), controller='ckanext.edo.plugin:EdoController', action='coc' %}</li>
  <li>{% link_for _('FAQs'), controller='ckanext.edo.plugin:EdoController', action='faq' %}</li>
  <li>{% link_for _('Remarks and Speeches'), controller='ckanext.edo.plugin:EdoController', action='remarks_and_speeches' %}</li>
  <li>{% link_for _('Contact Us'), controller='ckanext.edo.plugin:EdoController', action='contact' %}</li>
{% endblock %}
