/* Home */
.homepage {
  [role=main] {
    padding-top:0;
    
    .hero > .container {
      background-repeat: no-repeat;
      background-position: right center;
      
      @media (min-width: 768px) {
        background-image: url(../images/mask.jpg);
      }
    
      h1 {
        text-transform:uppercase;
        font-size:28px;
        line-height:1;
        max-width:490px;
        margin-left:15px;
        margin-right:15px;
        margin-bottom:10px;
        
        span {
          display:block;
          color:@primary;
        }
      }
      p {
        max-width:490px;
        margin-left:15px;
        margin-right:15px;
        
        &:last-of-type {
          margin-bottom:20px;
        }
      }
      
      .groups {
        margin:0 -1px;
        height:97px;
        overflow:hidden;
        
        li {
          display:block;
          float:left;
          text-align:center;
          width:155px;
          overflow:hidden;
          border:solid 1px @grey;
          
          a {
            display:block;
            background-color:rgba(255,255,255,0.80);
            text-decoration:none;
            color:@primary;
            height:95px;
            text-transform:uppercase;
            font-weight:bold;
            
            img {
              height:70px;
            }
            
            &:hover {
              background-color:rgba(255,255,255,0.95);
            }
          }
          
          &.more {
            width:auto;
            
            a {
              padding:38px 10px 0 10px;
              line-height:14px;
              text-transform:capitalize;
              font-weight:normal;
              color:fade(@secondary, 60%);
              font-size:12px;
              background-color:rgba(0,0,0,0.00);
              
              &:hover {
                color:@secondary;
              }
            }
          }
        }
        
        @media (min-width: 1050px) {
          width:1000px;
        }
      }
    }
    
    .intro {
      font-size:16px;
      padding:30px 15px 15px 15px;
    }
    
    .latest {
      & > div {
        padding:0 15px 15px 15px;
        box-sizing:border-box;
        
        h2 {
          text-transform:uppercase;
          margin-top:0;
          padding-bottom:10px;
          border-bottom:solid 2px @grey;
        }
        
        a {
          color:@primary;
        }
        
        dl {
          dt {
            font-size:16px;
            margin-bottom:4px;
          }
          dd {
            margin:0 0 15px 0;
            padding:0 0 15px 0;
            border-bottom:solid 2px @grey;
          }
        }
      }
    }
  }
  
  h3 {
    text-transform:uppercase;
    margin:20px 15px;
  }
  
  .twitter {
    background-color:@grey;
    margin-left:-20px;
    margin-right:-20px;
    padding-top:20px;
    padding-bottom:20px;
    
    a {
      color:@primary;
    }
    
    .container {
      position:relative;
    }
    
    .follow {
      position:absolute;
      right:15px;
      top:25px;
    }
    
    .carousel {
      margin-bottom:0;
      padding-left:15px;
      padding-right:15px;
    }
    ul.carousel-inner {
      margin:0;
      min-height:70px;
    }

    .user {
      min-height:36px;
      
      @media (min-width: 768px) {
        float:left;
        width:220px;
      }
      
      a {
        color:@secondary;
        text-decoration:none;
      }
      
      span {
        display:block;
        line-height:1.2;
        
        &[data-scribe="element\3Aname"] {
          font-size:16px;
          font-weight:bold;
        }
      }
      
      img {
        width:36px;
        height:36px;
        float:left;
        margin-right:15px;
      }
    }
    .tweet {
      margin-right:30px;
      
      @media (min-width: 768px) {
        margin-left:230px;
      }
    }
    .timePosted {
      display:none;
    }
    .interact {
      position:absolute;
      top:0;
      right:0;
      
      a {
        display:block;
        width:20px;
        height:20px;
        overflow:hidden;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color:@secondary;
        text-decoration:none;
        
        &:before {
          display:block;
          text-align:center;
        }
        
        &.twitter_reply_icon:before {
          content: "\F064";
        }
        &.twitter_retweet_icon:before {
          content: "\F079";
        }
        &.twitter_fav_icon {
          display:none;
          &:before {
            content: "\F005";
          }
        }
      }
    }
  }
  
  .comments {
    background-color:#fff;
    display:none;
    
    .fb-comments {
      margin-left:7px;
      margin-right:7px;
    }
    
    @media (min-width: 992px) {
      display:block;
    }
  }
}
